body {
    margin: 0;
    font-family: 'Century Gothic';
    background-image: url("img/purple-background.jpg");
}

nav {
    position: sticky;
    top: 0;
    margin: 0;
    padding: 0;
}

nav ul {
    background-color: #6200D7;
    list-style-type: none;
    margin: 0;
    padding: 0; 
    overflow: hidden;
    width: 100%
}

nav li {
    float: right;
    width: 16.2%;
}

nav li a {
    color: white;
    font-weight: bold;
    display: block;
    padding: 30px;
    text-align: center;
    text-decoration: none;
}

nav li a:hover {
    background-color:mediumpurple;
    color: black;
    transition: 0.3s;
}

nav li a.active {
    background-color: white;
    color: blueviolet;
}

aside {
    width: 17%;
    margin: 0;
    padding: 0;
    float: left;
    background-color: #DBDBDB;
    position: sticky;
    top: 25%;
    overflow: hidden;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-right-style: outset;
    border-bottom-style: outset;
}

aside ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

aside ul a {
    color: gray;
    display: block;
    padding: 20px;
    text-decoration: none;
    border-top: 1px solid white;
}

aside ul a:hover {
    background-color: white;
    color: pink;
    transition: 0.3s;
}

main {
    margin-left: 19%;
    padding-left: 20px;
    padding-bottom: 23px;
    width: 75%;
    margin-top: 0;
    margin-bottom: 0;
    background-color: white;
}

footer {
    background-color: #907ed6;
    bottom: 0;
    padding: 20px;
    margin-top: 20px;
}

h1 {
    padding-top: 20px;
}

/* profile page */

#bio {
    margin-top: 3.5%;
    width: 100%;
}

#bioportrait {
    float: left;
}

#biotext {
    float: left;
    margin-left: 2%;
}

#galleryheading {
    width: 100%;
    display: inline-block;
}

#gallery {
    width: 100%;
    display: inline-block;
    margin-top: 50px;
}

.gallery {
    margin-right: 15px;
    margin-top: 15px;
    border: 1px solid #ccc;
    float: left;
    width: 20%
}

.gallery img {
    width: 100%;
    height: auto;
}

.desc {
    padding: 2px;
    text-align: center;
}

/* dashboard page */

table {
    border-collapse: collapse;
    border: 1px solid black;
}

td, th {
    padding: 10px;
}

th {
    text-align: left;
    background-color: #CEB2FF;
}

td {
    background-color: #e9e9e9;
    border: 1px solid black;
}

td.passed {
    background-color: #8CE698;
    color: #067100;
    font-weight: bold;
}

td.failed {
    background-color: #E68C8C;
    color: #710000;
    font-weight: bold;
}

/* faq page */

.faq-container {
    display: flex;   
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: auto;
    flex-direction: column;
    gap: 5px;
    margin: auto;
}

.faq-question {
    background-color: cornflowerblue;
    color: black;
    cursor: pointer;
    padding: 30px 20px;
    width: 800px;
    border: none;
    outline: none;
    margin: 0;
}

.faq-question:hover {
    background-color: lightsteelblue;
    transition: 0.3s;
}

.faq-question:after {
    content: '\02795';
    font-size: 13px;
    color: black;
    float: right;
    margin-left: 5px;
}

.faq-answer {
    margin: 0;
    width: 804px;
    padding: 18px;
    background-color: lightgray;
    display: none;
    overflow: hidden;
}

.selected {
    background-color: lightsteelblue;

}

.selected:after {
    content: "\2796";
}

/* blog page */

.blog {
    margin-top: 50px;
}

.bloginfo {
    margin-bottom: 5px;
}

.blogbutton {
    background-color: cornflowerblue;
    border: none;
    color: black;
    padding: 20px;
    text-align: left;
    font-size: 20px;
    border-radius: 5px;
    display: inline-block;
    width: 70%;
    text-decoration: none;
}

.blogbutton:hover {
    background-color: lightsteelblue;
    color: black;
    transition: 0.3s;
}