body {
    margin: 0;
}

header {
    background-color: #f1f1f1;
    text-align: center;
    padding: 50px;
}



nav {
    margin: 0;
    padding: 0;
    position: sticky;
    top: 0;
}

nav ul {
    background-color: blueviolet;
    list-style-type: none;
    margin: 0;
    padding: 0; 
    overflow: hidden;
}

nav li {
    float: left;
    width: 20%;
}

nav li a {
    color: white;
    display: block;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
}

nav li a:hover {
    background-color:mediumpurple;
    color: black;
}

nav li a.active {
    background-color: white;
    color: blueviolet;
}

aside {
    width: 17%;
    margin: 0;
    padding: 0;
    float: left;
    background-color: pink;
    height: 400px;
}

aside ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

aside ul a {
    color: white;
    display: block;
    padding: 20px;
    text-decoration: none;
}

aside ul a:hover {
    background-color: white;
    color: pink;
}

footer {
    background-color: #f1f1f1;
    bottom: 0;
    padding: 20px;
}