body {
    margin: 0;
    font-family: 'Century Gothic';
    background-image: url("img/purple-background.jpg");
}

nav {
    position: sticky;
    top: 0;
    margin: 0;
    padding: 0;
}

nav a.navbar-brand {
    width: 19%;
    background-color: #6200D7;
    display: inline-block;
    padding-top: 19px;
    padding-bottom: 19px;
    text-align: center;
    color: white;
    font-family: 'Aclonica';
    font-size: 30px;
    cursor: default;
}

nav ul {
    background-color: #6200D7;
    list-style-type: none;
    margin: 0;
    padding: 0; 
    overflow: hidden;
    width: 81%;
    float: right;
}

nav li {
    float: right;
    width: 16%;
}

nav li a {
    color: white;
    font-weight: bold;
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    text-decoration: none;
}

nav li a:hover {
    color: #e8e4ffb2;
    transition: 0.3s;
}

nav li a.active {
    color: #e8e4ffb2;
}

aside {
    width: 17%;
    margin: 0;
    padding: 0;
    float: left;
    background-color: #DBDBDB;
    position: sticky;
    top: 25%;
    overflow: hidden;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-right-style: outset;
    border-bottom-style: outset;
}

aside ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

aside ul a {
    color: #656565;
    display: block;
    padding: 20px;
    text-decoration: none;
    border-top: 1px solid white;
}

aside ul a:hover {
    background-color: white;
    color: #6200D7;
    transition: 0.3s;
}

main {
    margin-left: 19%;
    padding-left: 20px;
    padding-bottom: 23px;
    padding-right: 20px;
    width: 75%;
    margin-top: 1.5%;
    margin-bottom: 0;
    background-color: white;
}

footer {
    background-color: #907ed6;
    bottom: 0;
    padding: 20px;
    margin-top: 20px;
}

h1 {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 40px;
    padding-left: 10px;
    color: #000000c2;
    text-shadow: 2px 2px #b99dff;
    font-size: 40px;
    letter-spacing: 1px;
    width: 100%;
}

h2 {
    text-shadow: 1px 1px 1px #8270a6;
    letter-spacing: 1px;
}

p {
    font-family: 'Verdana'
}

/* home page */

#title {
    margin-top: 20px;
    padding-left: 10px;
    margin-bottom: 20px;
    font-family: 'Aclonica';
    font-size: 80px;
    display: inline-block;
    color: #8b5eff;
    text-shadow: 3px 3px #b99dff;
    letter-spacing: 2px;
}

.title-icon {
    color: #e8e4ffb2;
}

#motivation {
    width: 50%;
    background-color: #ceb7fb;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    border-radius: 10px;
    border-left: 5px solid #e1d3fd;
    border-top: 5px solid #e1d3fd;
    border-right: 5px solid #8270a6;
    border-bottom: 5px solid #8270a6;
}

#projects {
    width: 94%;
    background-color: #e6ddf8;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 40px;
    border-radius: 10px;
    border-left: 5px solid #efebf8;
    border-top: 5px solid #efebf8;
    border-right: 5px solid #b2acc0;
    border-bottom: 5px solid #b2acc0;
}

#project1 {
    width: 100%;
    display: inline-block;
}

#project1-img {
    border: 9px solid #8d7eaa;
    border-radius: 10px;
    float: left;
}

#project1-desc {
    float: left;
    margin-left: 30px;
}

#project2 {
    width: 100%;
    display: inline-block;
    margin-top: 50px;
    margin-bottom: 30px;
}

#project2-img {
    border: 9px solid #8d7eaa;
    border-radius: 10px;
    float: right;
}

#project2-desc {
    float: right;
    margin-right: 30px;
    width: 50%
}

/* profile page */

#bio {
    display: inline-block;
    width: 80%;
    background-color: #ceb7fb;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    border-left: 5px solid #e1d3fd;
    border-top: 5px solid #e1d3fd;
    border-right: 5px solid #8270a6;
    border-bottom: 5px solid #8270a6;
}

#bioportrait {
    float: left;
    border: 9px solid #8d7eaa;
    border-radius: 10px;
}

#biotext {
    float: left;
    margin-left: 2%;
}

#gallery {
    width: 80%;
    display: inline-block;
    margin-top: 50px;
    background-color: #e6ddf8;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    border-left: 5px solid #efebf8;
    border-top: 5px solid #efebf8;
    border-right: 5px solid #b2acc0;
    border-bottom: 5px solid #b2acc0;
}

#galleryheading {
    width: 100%;
    display: inline-block;
}

.gallery {
    margin-right: 15px;
    margin-top: 15px;
    border: 9px solid #8d7eaa;
    border-radius: 10px;
    float: left;
    width: 21%;
}

.gallery img {
    width: 100%;
    height: auto;
}

.desc {
    padding: 2px;
    text-align: center;
    font-weight: bold;
}

/* dashboard page */

#dashboard-title {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 10px;
    color: #000000c2;
    text-shadow: 2px 2px #b99dff;
    font-size: 40px;
    letter-spacing: 1px;
}

table {
    border-collapse: collapse;
    border: 1px solid black;
    box-shadow: 7px 7px #b2acc0;
    float: left;
}

td, th {
    padding: 10px;
}

th {
    text-align: left;
    background-color: #ceb7fb;
}

td {
    background-color: #e9e9e9;
    border: 1px solid black;
}

td.passed {
    background-color: #8ce698a6;
    color: #067100;
    font-weight: bold;
}

td.failed {
    background-color: #e68ca790;
    color: #710000;
    font-weight: bold;
}

#key {
    background-color: #e6ddf8;
    width: 20%;
    float: left;
    margin-left: 40px;
    padding-left: 10px;
    padding-bottom: 25px;
    border-left: 5px solid #efebf8;
    border-top: 5px solid #efebf8;
    border-right: 7px solid #b2acc0;
    border-bottom: 7px solid #b2acc0;
    border-radius: 10px;
}

#key-title {
    margin-left: 10px;
    font-size: 24px;
}

#key-table {
    border-collapse: collapse;
    border: 1px solid black;
    float: left;
    box-shadow: none;
    margin-left: 10px;
}

.key-heading {
    float: left;
    margin-left: 10px;
    margin-bottom: 0;
    margin-top: 40px;
}

#key-progress-bar {
    width: 200px;
    background-color: #e9e9e9;
    height: 30px;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    border: 1px solid #bcbcbc;
}

#key-progress-status {
    width: 100px;
    background-color: #e68ca7ad;
    height: 30px;
    float: left;
    text-align: center;
    font-family: 'Verdana';
    line-height: 31px;
    font-size: 14px;
}

#key-nbsa {
    width: 146px;
    height: 30px;
    border-right: 4px solid black;
    float: left;
}

#key-max {
    width: 186px;
    float: left;
    height: 30px;
    border-right: 4px solid #067100;
}

#key-total-ec {
    float: left;
    line-height: 30px;
    margin-left: 10px;
    margin-top: 10px;
    font-family: 'Verdana';
    width: 200px;
}

#progress {
    margin-top: 14px;
    display: inline-block;
}

#progress-bar {
    width: 600px;
    background-color: #e9e9e9;
    height: 30px;
    float: left;
    border: 2px solid #bcbcbc;
}

#progress-status {
    width: 300px;
    background-color: none;
    height: 30px;
    float: left;
    text-align: left;
    font-family: 'Verdana';
    line-height: 31px;
    overflow: hidden;
}

#nbsa {
    width: 145px;
    height: 30px;
    border-right: 5px solid black;
    float: left;
}

#max {
    width: 145.4px;
    float: left;
    height: 30px;
    border-right: 5px solid #067100;
}

#total-ec {
    float: left;
    line-height: 30px;
    margin-left: 10px;
    font-family: 'Verdana'
}

/* faq page */

.faq-container {
    display: flex;   
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: auto;
    flex-direction: column;
    gap: 5px;
}

.faq-question {
    background-color: #ceb7fb;
    color: #000000;
    font-size: 20px;
    cursor: pointer;
    padding: 30px 20px;
    width: 800px;
    border: none;
    outline: none;
    text-shadow: none;
    margin: 0;
}

.faq-question:hover {
    background-color: #e1d3fd;
    transition: 0.3s;
}

.faq-question:after {
    content: '\02795';
    font-size: 13px;
    color: black;
    float: right;
    margin-left: 5px;
}

.faq-answer {
    margin: 0;
    width: 804px;
    padding: 18px;
    background-color: #ececec;
    display: none;
    overflow: hidden;
}

.selected {
    background-color: #e1d3fd;

}

.selected:after {
    content: "\2796";
}

/* blog page */

.bloginfo {
    margin-bottom: 5px;
    font-size: 14px;
    color: #6b6b6b
}

.blogbutton {
    background-color: #ceb7fb;
    border: none;
    color: #393939;
    padding: 20px;
    text-align: left;
    font-size: 20px;
    border-radius: 5px;
    display: inline-block;
    width: 70%;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 40px;
}

.blogbutton:hover {
    background-color: #e1d3fd;
    color: black;
    transition: 0.3s;
}

/* blog posts */

.back {
    color: #765591;
    display: inline-block;
    margin-bottom: 10px;
    margin-left: 5px;
    text-decoration: none;
    font-weight: 400;
}

.back:hover {
    color: #5a079e;
    font-size: 20px;
    transition: 0.3s;
}

.blog {
    width: 70%;
    background-color: #e6ddf8;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    border-left: 5px solid #efebf8;
    border-top: 5px solid #efebf8;
    border-right: 5px solid #b2acc0;
    border-bottom: 5px solid #b2acc0;
}

#blog-pico8 {
    border: 9px solid #8d7eaa;
    border-radius: 10px;
    display: inline-block;
}

